<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="/css/wiki.css">

    <title>{{ title }}</title> 
  </head>

  <body>
    {% include "partials/site-head.html" %}

    <div class="body-grid">

    <aside>
      {% if collection.Featured %}
      <h2>Featured Pages</h2>
      <ul>
      {% for post in collection.Featured %}
      <li><a href="{{ post.data.permalink }}"></a>{{ post.data.title }}</a></li>
      {% endfor %}
      </ul>
      {% endif %}

      <h2>Latest pages</h2>
      <ul>
        {% for post in collections.pages %}
        <li><a href="{{ post.data.permalink }}">{{ post.data.title }}</a></li>
        {% endfor %}
      </ul>
    </aside>

    <main tabindex="-1" id="main-content">
      {% block content %}{% endblock %}
    </main>

    </div><!-- Body Grid -->

    <footer>
      <p>Copyright {{ site.author }}</p>
      <p>Worldbuilding template created in 11ty by <a href="https://jaydnedwards.com/">Jaydn Edwards</a></p>
    </footer>
  </body>
</html>