{% extends "layouts/base.html" %} 

{% block content %}
<article>
  <h1>{{ title }}</h1>
  <p class="[ blurb ]">{{ blurb }}</p>
  {{ content | safe }}
</article>

<section class="[ dashboard ]">
{% for allCollections in collections.allTags | sort(attribute='p.data.title') %}
{% set post = collections[allCollections] %}
<figure class=" [ dashboardItem ] ">
    <h2>{{ allCollections }}</h2>
    <ul class="[ dashboardList ]">
        {% for p in post %}
            <li><a href="{{ p.data.permalink }}">{% if p.data.image %}<img src="{{ p.data.image }}" class="[ profileImage ]">{% endif %} {{ p.data.title }}</a></li>
        {% endfor %}
    </ul>
</figure>
{% endfor %}
</section>

{% endblock %}